# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Computing-Equipment/v16/.suo
/.vs/Computing-Equipment/v16/Browse.VC.db
/.vs/Computing-Equipment/v16/Browse.VC.opendb
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/Computing-Equipment/v16/ipch/AutoPCH/ca6f9168b8e9ee1a/计算工具.ipch
/Computing-Equipment/Computing-Equipment/.vs/Computing-Equipment/v16/Browse.VC.db
/Computing-Equipment/Computing-Equipment/.vs/Computing-Equipment/v16/ipch/AutoPCH/96cf0673d4b51838/COMPUTING-EQUIPMENT.ipch
/Computing-Equipment/Computing-Equipment/.vs/Computing-Equipment/v16/Browse.VC.opendb
/Computing-Equipment/Computing-Equipment/Computing-Equipment.sln
/Computing-Equipment/Computing-Equipment/Computing-Equipment.vcxproj.filters
/Computing-Equipment/Computing-Equipment/Computing-Equipment.vcxproj
/Computing-Equipment/Computing-Equipment/Computing-Equipment.vcxproj.user
/.vs/计算工具/v16
/计算工具ce/.vs/计算工具ce/v16/ipch/AutoPCH/93ae9fbe2f530020
/计算工具ce/.vs/计算工具ce/v16/Browse.VC.db
/计算工具ce/.vs/计算工具ce/v16/Browse.VC.opendb
/计算工具ce/计算工具ce.sln
/计算工具ce/计算工具ce.vcxproj
/计算工具ce/计算工具ce.vcxproj.filters
/计算工具ce/计算工具ce.vcxproj.user
/计算工具ce/.vs/计算工具ce/v16/ipch/AutoPCH/65400d357727bde9/VCTMP8164_953627.COMPUTING-EQUIPMENT.FADC09C6.ipch
/计算工具ce/.vs/计算工具ce/v16/ipch/AutoPCH/bdee5fead25b290e/VCTMP8164_103551.COMPUTING-EQUIPMENT.FADC09C6.ipch
/计算工具ce/.vs/计算工具ce/v16/ipch/AutoPCH/d8608b40efd1072e/VCTMP8164_188930.COMPUTING-EQUIPMENT.FADC09C6.ipch
/计算工具ce/.vs/计算工具ce/v16/.suo
/计算工具ce/计算工具ce.cpp
/.vs/Computing-Equipment/v16/ipch/AutoPCH/78ae3790a35deea/VCTMP15688_26501.计算工具.3CE72669MERGE.ipch
/.vs/Computing-Equipment/v16/ipch/AutoPCH/ab28285688c3aa68/VCTMP15688_528072.计算工具.3CE72669.ipch
/.vs/Computing-Equipment/v16/ipch/AutoPCH/e9d859812d705492/VCTMP15688_73444.计算工具.3CE72669.ipch
