# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Computing-Equipment/v16/.suo
/.vs/Computing-Equipment/v16/Browse.VC.db
/.vs/Computing-Equipment/v16/Browse.VC.opendb
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/Computing-Equipment/v16/ipch/AutoPCH/ca6f9168b8e9ee1a/计算工具.ipch
/Computing-Equipment/Computing-Equipment/.vs/Computing-Equipment/v16/Browse.VC.db
/Computing-Equipment/Computing-Equipment/.vs/Computing-Equipment/v16/ipch/AutoPCH/96cf0673d4b51838/COMPUTING-EQUIPMENT.ipch
/Computing-Equipment/Computing-Equipment/.vs/Computing-Equipment/v16/Browse.VC.opendb
/Computing-Equipment/Computing-Equipment/Computing-Equipment.sln
/Computing-Equipment/Computing-Equipment/Computing-Equipment.vcxproj.filters
/Computing-Equipment/Computing-Equipment/Computing-Equipment.vcxproj
/Computing-Equipment/Computing-Equipment/Computing-Equipment.vcxproj.user
